.card {
    display: flex;
    align-items: flex-end;
    height: 335px;
    width: 335px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}

.card p {
    padding-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1424px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: 100%;
    }
}